/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/* CSS Variables */

:root {
  --navbar-height: 50px;
}

/* Navigation Bar */

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 30px;
}

#logo img {
  height: 55px;
  margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: "Baskervville", serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 20px;
  border-radius: 10px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 5px 200px;
  height: 550px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  background: url(../bg3.jpg) no-repeat center center/cover;
  height: 642px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#home h1 {
  color: white;
  text-align: center;
  font-family: "Bree Serif", serif;
  /* line-height: 50px; */
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}

/* Services Section */

#services {
  margin: 34px;
  display: flex;
}
#services-container{
  background-color: #d3fcd3;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 55px;
  border-radius: 18px;
  background-color: rgb(255 235 238);
  margin-bottom: 15px;
}
#services .box img {
  height: 140px;
  margin: auto;
  display: block;
}
#services .box p {
  font-family: "Bree Serif", serif;
}

/* Client Section */
#client-section {
  position: relative;
}
#client-section::before {
  content: "";
  position: absolute;
  background: url("../bg.jpg.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  padding: 24px;
  z-index: -1;
}
#clients img {
  height: 110px;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background: url("../contact.jpg") no-repeat center center/cover;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 0.9rem;
}
#contact-box form {
  width: 40%;
  z-index: -1;
}
#contact-box label {
  font-size: 1.1rem;
  font-family: "Bree Serif", serif;
}

footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
}

/* Utility Class */
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 3.5rem;
  padding: 15px;
}
.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 2.1rem;
  padding: 15px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  z-index: -1;
  opacity: 0.7;
  border-radius: 9px;
  cursor: pointer;
}
.bton {
  padding: 1px 4px;
  border: 2px solid rgb(0 255 182);
  background-color: rgb(5 184 30);
  color: white;
  margin: 0px 300px;
  font-size: 1.1rem;
  z-index: -1;
  opacity: 0.7;
  border-radius: 9px;
  cursor: pointer;
}

.center {
  text-align: center;
}
